html {
    font-family: "Manrope", serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
}

button{
    background-color:#F84646;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0%;
}

h2{
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
}

h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

#presentationContainer {
    padding: 2.5rem 7.5rem;
    height: 100vh;
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#presentation {
    width: 37.5rem;
}

#qualities {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

}

#qualities > img {
    margin: 0 2.5rem ;
}

.container {
    padding: 5rem 7.5rem;
    text-align: center;
}

.contactTitle{
    margin-top: .5rem;

}

.container > p {
    margin-top: 1.5rem;
}

.container > button{
    margin-top: 2rem;
    transition: opacity 10 ease-out, transforme 0.5s .2s;;
}

.container > button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.background-gradient{
    background: linear-gradient(180deg, #fff, #d9d9d9);
}

.background-red {
    background: #F84646;
    color:#FFF;
}

.background-gray{
    background: #F4F5F7;
}

.articleContainer {
    display: flex;
    flex-direction: row;
}

.articleContainer > img {
    object-fit: cover;
    width: 50%;
}

.articleContainer:nth-child(even){
    margin-top: 5rem;
    flex-direction: row-reverse;
}


.articleDetails {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin: 0 2.5rem 0 0;
    justify-content: space-between;

}

.articleDetails > button {
    font-size: 1rem;
}

.articleContainer:nth-child(even) > .articleDetails {
    margin:  0 0 0 2.5rem;
}

.footerList {
    display: flex;
    text-align: left;
}

.footerList > ul > li {
    list-style: none;
    margin-bottom: 1rem;
}

.footerList > ul > li:first-child{
    margin-bottom: 1.5rem ;
    font-weight: 700;
}

.footerList > ul > li:last-child{
    margin-bottom: 0;
}

.footerCopyrigth {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin-top: 8.5rem;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}
.griditem > h3 {
    margin-top: .5rem;
}
.gridItem > p {
    margin: .5rem 0 0;
}

.gridContainerCompanies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 3rem;
}

.gridItemCompanies{
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1rem;
    margin-top: 3rem;
    width: 10.6rem;
    height: 6rem;
}

.company-1 {
    grid-area: 3 / 1;
}

.company-2 {
    grid-area: 2 / 2;
}

.company-3 {
    grid-area: 3 / 2;
}

.company-4 {
    grid-area: 1 / 3;
}

.company-5 {
    grid-area: 2 / 3;
}

.company-6 {
    grid-area: 3 / 3;
}

.company-7 {
    grid-area: 2 / 4;
}

.company-8 {
    grid-area: 3 / 4;
}

.company-9 {
    grid-area: 3 / 5;
}

@media only screen and (max-width: 768px) and ( max-width: 1023px ){
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.5rem ;
    }

    #presentationContainer{
        padding: 5rem 4rem;
    }

    .container{
        padding: 5rem 4rem;
    }
    
.gridContainer {
    grid-template-columns: repeat(2, 1fr);
}

.gridContainerCompanies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    margin-top: 3rem;
}

.company-1 {
    grid-area:auto;
}

.company-2 {
    grid-area:auto;
}

.company-3 {
    grid-area:auto;
}

.company-4 {
    grid-area:auto;
}

.company-5 {
    grid-area:auto;
}

.company-6 {
    grid-area:auto;
}

.company-7 {
    grid-area:auto;
}

.company-8 {
    grid-area:auto;
}

.company-9 {
    grid-area:auto;
}

}

@media only screen and (max-width: 767px){
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.5rem ;
    }
    
    #presentationContainer{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

.gridContainer {
    grid-template-columns: 1fr;
}

#qualities {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
} 

#qualities > img {
    transform: rotate(90deg);
    margin: 2.5rem 0;
}

.articleContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.articleContainer:nth-child(even){
    flex-direction: column-reverse;
}

.articleDetails{
    text-align: center;
    align-items: normal;
    margin: 2rem 0 0 0;
}

.articleContainer:nth-child(even) > .articleDetails{
    margin: 2rem 0 0 0;
}

.articleContainer > img {
    width: 100%;
}
.gridContainerCompanies {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    margin-top: 3rem;
}

.company-1 {
    grid-area:auto;
}

.company-2 {
    grid-area:auto;
}

.company-3 {
    grid-area:auto;
}

.company-4 {
    grid-area:auto;
}

.company-5 {
    grid-area:auto;
}

.company-6 {
    grid-area:auto;
}

.company-7 {
    grid-area:auto;
}

.company-8 {
    grid-area:auto;
}

.company-9 {
    grid-area:auto;
}

.footerList {
    flex-direction: column;
    justify-content: center;
}

.footerList > ul {
    margin-top: 3rem;
}

.footerList > ul:first-child {
    margin-top: 0;
}

.footerCopyrigth{
    flex-direction: column-reverse;
}

.footerCopyrigth > div:first-child{
    margin-top: 4rem;
}
}